$red : #ef0a0a;
$hover: #c9e2ff;
.blogcontainer{
    img {
      opacity: 1;
      transition: opacity 0.3s;
    }

    img[data-src] {
      opacity: 0;
    }

    .post_item{
       margin-bottom: 30px;
    }
    .post_body{
      position: relative;
      height: 300px;
    }
    .post_show{
      position: relative;
    }
    h2{
      line-height: 1;
    }
    .post_html{
      height: 100px;
      overflow: hidden;
    }
    .post-img{
      height: 200px;
      overflow: hidden;
      text-align: center;
    }
    .post_title{
      height: 40px;
      overflow: hidden;
    }
    .post_categories{
      height: 50px;
      overflow: hidden;
    }
    .post_attr{
      height: 30px;
      overflow: hidden;

      .post_author{
        position: absolute;
        left: 20px;
        bottom: 5px;
        width: 150px;
        text-align: left;
      }
      .post_author_img{
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
      }
      .post_avatar_link{
        position: absolute;
        left: 20px;
        bottom: 5px;
        text-align: right;
      }
      .post_author_name{
        position: absolute;
        left: 60px;
        bottom: 5px;
        text-align: left;
        a{
          color: $red;
          font-weight: bold;
        }
      }

      .post_date{
        position: absolute;
        right: 35px;
        bottom: 5px;
        text-align: right;
      }

      .post_edit{
        position: absolute;
        right: 10px;
        bottom: 5px;
        text-align: right;
        .oi-pencil{
          color: red;
        }
      }

    }
  }
#navbarSupportedContent{

  .navbar-brand{
    width: 100%;
    text-align: center;
  }
}


.author {
  width: 110px;
  text-align: center;

  .authorblock{
    padding: 0 5px;
    .avatar {
      padding: 0 10%;
      .post_author_img {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50px;
      }
    }
    .autor_name{
      color: $red;
      font-weight: bold;
    }
  }
  .authorblock:hover .post_author_img{
    border: 2px solid $red;
  }
  .sosiallist{
    text-align: center;
    .social{
      padding: 2px;
      img{
        height: 20px;
      }
    }
    .social:hover{
      background: $hover;
      border-radius: 3px;
    }
  }

}

.cblock{
  text-align:center;
}
.logo{width:100px;}

.specword{
  font-weight:bold;
  color:$red;
  text-transform:uppercase
}

#headernav{
  position: relative;
  #header-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 164px;
  }
  #header-left{
    position: absolute;
    left: 0;
    top: 0;
    height: 164px;
  }
  .headercol{
    width: 150px;
    margin: 0 auto;
    z-index:1;
  }

}
#minnav{
  padding: 0 10px;
  height: 30px;
  .minmenu{
    width: 30%;
    padding: 2px;
    float: left;
    text-align: center;
    font-weight:bold;

  }
}
