.blogcontainer .post_item {
  height: 350px;
}

.blogcontainer h2 {
  line-height: 1;
}

.blogcontainer .post_html {
  height: 100px;
  overflow: hidden;
}

.blogcontainer .post_categories {
  height: 52px;
  overflow: hidden;
}

