
.imglist .imgitem img{

}

.imglist .imgitem {
    position: relative;
    height: 150px;
    margin-bottom: 10px;
}

.imgitem_delete{
    position: absolute;
    bottom: 5px;
    right: 5px;

}
.imgitem_delete a{
    padding: 0px 4px 0px 4px;
}

.blogcontainer .card {
    position: relative;
    height: 350px;
}

.blogcontainer .post_edit {
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: right;
}